.flex {
    display: flex;
    align-items: center;
    gap: 5px;
}

.add {
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    transition: .3s all ease;
    &:hover {
        transform: rotate(45deg);
    }
}

.remove {
    font-size: 30px;
    cursor: pointer;
    font-weight: bold;
}